body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 微軟正黑體;
}

.warning {
    background: #ffc4c6;
    color: #a20606;
    padding: 10px;
    text-align: center;
}

.error{
    color: #a20606;
}

.board{
    background-color: #fff;
    width: 100%;
    max-width: 768px;
    margin: 20px auto;
    padding: 25px 25px 15px;
    box-shadow: 1px 1px 3px #e8e8e8;
    border-radius: 5px;
}
.board-nickname{
    margin-bottom: 10px;
}
.board-nickname input{
    border: 1px solid #c2dffb;
    padding: 5px;
}
.board h1{
    margin-top: 40px;
}

.new-comment-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #c2dffb;
    box-sizing: border-box;
}

.submit-btn{
    padding: 10px;
    border: 1px solid #c2dffb;
    border-radius: 5px;
    width: 100px;
    font-size: 12px;
    background: white;
    cursor: pointer;
}
.submit-btn:hover{
    filter: brightness(90%);
}

.board .update-nickname{
    padding: 10px 20px;
    border: 1px solid #c2dffb;
    border-radius: 5px;
    width: 100px;
    font-size: 12px;
    background: white;
    color: #000;
    text-decoration: none;
    
}

.hide{
    display: none;
}


.board-hr{
    margin: 20px auto;
    height: 1px;
    background: #ccc;
    max-width: 95%;
}

.card{
    margin: 20px 0;
    min-height:70px;
    box-sizing: border-box;
    display: flex;
}

.card-author{
    max-width: 200px;
    color: #5c9edc;
    font-weight: bold;
}
.card-time{
    color: #a0a0a0;
}

.card-avatar{
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5c9edc;
}

.card-body{
    margin-left: 10px;
}

.card-content{
    margin-top: 8px;
    max-width: 100%;
    word-break: break-all;
    white-space: inherit;
}


.board-btn{
    padding: 10px 20px;
    border: 1px solid #c2dffb;
    border-radius: 5px;
    width: 100px;
    font-size: 12px;
    background: white;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.board-btn:hover{
    filter: brightness(90%);
}

.page-info {
  text-align: center;
}

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.paginator a {
  text-decoration: none;
  color: #5c9edc;
  border: 1px solid #5c9edc;
  padding: 10px;
} 